/* (c)2019-2020 Estúdio Digital Bocca */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
@import https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css

body, html
  font-family: 'Montserrat', sans-serif

.title-box
  background-color: #60a3bc
  color: #fff

.app
  margin: 0
  padding: 0